.container {
  padding: 10px;
}

.right-bubble {
  padding-top: 8px;
  max-width: 80%;
  width: fit-content;
  margin-left: auto;
}

.message-head-to-right {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  align-items: center;
  line-height: 0.98;
}

.message-head-left {
  margin-right: 10px;
  text-align: right;
}

.left-bubble {
  padding-top: 8px;
  max-width: 80%;
  width: fit-content;
  margin-right: auto;
}

.con-item {
  margin: 6px 0 10px 0;
}

#count {
  font-size: 14px;
}

body {
  margin-bottom: 120px;
}

#send-btn {
  margin-top: 10px;
}

.img-circle{
  border-radius: 50%;
}

.avatar {
  width: 40px;
  height: 40px;
}

.message-head {
  display: flex;
  font-size: 10px;
  align-items: center;
  line-height: 0.98;
  max-width: 35%;
}

.message-head-right {
  margin-left: 10px;
}

.nickname {
  font-size: 18px;
}

.message {
  text-align: left;
  margin-top: 10px;
  word-wrap: break-word;
  max-width: 100%; /* 防止消息溢出对话框 */;
  overflow: hidden;
}

/* 消息内部的图片 */
.message img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.message p {
  padding: 0px;
  font-size: 18px;
}

/* 底部输入框 */
.bottom-menu {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  background: #fff;
  text-align: right;
}

/* 气泡 */
.bubble {
  clear: both;
  margin-top: 10px;
}
